.chart
  .chart-img
    position: relative
    .map-bg
      width: 90%
    .geotagging
      position: absolute
      width: 2%
      fill: #FFDD4D
      stroke-width: 1px
      stroke: #fff
      cursor: pointer
      animation: geotagging_fade_in 0.7s forwards
      @keyframes geotagging_fade_in
        0%
          opacity: 0.5
          transform: translateY(-70%)
        100%
          opacity: 1
          transform: translateY(0%)
      &.warn
        fill: #FF7E27
      &.danger
        fill: #DD170E
      &.taiwan
        z-index: 1
        svg
          stroke: none
          transform: scale(1.5)
          animation: taiwan_shake 3s infinite
        @keyframes taiwan_shake
          0%
            transform: scale(1.5) rotate(0deg)
          10%
            transform: scale(1.5) rotate(-10deg)
          20%
            transform: scale(1.5) rotate(10deg)
          30%
            transform: scale(1.5) rotate(0deg)
          100%
            transform: scale(1.5) rotate(0deg)
      &:hover
        z-index: 1
        svg
          transform: scale(1.5)
        p
          opacity: 1
          transform: translateY(0%)
      svg
        transform-origin: bottom center
        transition: 0.2s
      p
        position: absolute
        top: 40%
        left: 120%
        padding: 0 8px
        white-space: nowrap
        border: solid 1px #555
        background: #fff
        font-size: 15px
        transition: 0.2s
        opacity: 0
        transform: translateY(-50%)
        pointer-events: none

#countries-bar-chart
  position: relative
  .flag
    position: absolute
    width: 23px
    height: 16px
    background-image: url('../../../images/front-end/flag.jpg')
    background-size: 4000% 100%
    background-position: 0% 0%
    border: solid 1px #e3e3e3

#chart-tooltip
  position: fixed
  padding: 2px 10px
  top: 100px
  left: 100px
  border-radius: 4px
  background: rgba(#000, 0.7)
  opacity: 0
  pointer-events: none
  &.show
    opacity: 1
  section
    display: flex
    padding: 0
    margin: 0
    flex-wrap: wrap
    justify-content: flex-start
    align-items: center
    color: #fff
  .tooltip-color
    width: 15px
    height: 15px
    margin-right: 6px
    border-radius: 50%
    border: solid 1px #fff
    // background: red
  .tooltip-title
    font-size: 14px
  .tooltip-value
    margin: 0
    font-size: 14px
    white-space: nowrap
    color: #fff