.d3-chart-flex-wrap
  display: flex
  padding: 0 8.3333333%

  @media screen and ( max-width: 1199px )
    flex-wrap: wrap

  @media screen and ( max-width: 767px )
    padding: 0

  h4
    text-align: center

  .flex-item-wrap
    width: 50%
    padding: 0 12px

    @media screen and ( max-width: 1199px )
      width: 100%

    .flex-item
      display: flex
      flex-direction: column
      align-items: center